div.price-set-row,
div.crm-section.contribution_amount-section,
div.crm-section.other_amount-section,
div.content.other_amount-content {
  display: inline-block;
}

div.content.other_amount-content input {
 width: 80px;
 height: 40px;
}

body .crm-container .crm-section .label {
 margin-left: 0px;
}

div#intro_text {
  padding: 10px;
  padding-top: 6px;
}

body .crm-container .crm-section .label {
 float: none;
 width: auto;
 text-align: left;
}

body .crm-container .crm-section .content {
 margin: 0px;
}

#crm-container.crm-public .price-set-row input[type="radio"] {
 display: none;
}

#crm-container.crm-public .price-set-row label {
 display: inline-block;
 background-color: #004B60;
 width: 100px;
 padding: 12px 4px;
 border-radius: 3px;
 text-align: center;
 font-weight: bold;
 font-size: 16px;
 color: white;
}

#crm-container.crm-public .price-set-row label:hover {
  background: teal;
}

body #crm-container.crm-public .price-set-row .highlight label {
  background: teal;
}

#crm-container.crm-public .price-set-row .crm-price-amount-label-separator,
body #crm-container.crm-public .price-set-row .crm-price-amount-label,
body #crm-container.crm-public .price-set-row .crm-price-amount-amount,
body #crm-container.crm-public .price-set-row .highlight label,
body #crm-container.crm-public .price-set-row .highlight .crm-price-amount-label,
body #crm-container.crm-public .price-set-row .highlight .crm-price-amount-amount {
 color: #fff;
 display: block;
}

#crm-container.crm-public .price-set-row .crm-price-amount-label-separator {
 color : #95C5C5;
}

div.other_amount-section .label {
 display: none;
}

span.price-set-option-content input[type="text"] {
 display: none;
}

span.price-set-option-content.highlight input[type="text"] {
 display: block;
}

.price-set-row input.crm-form-radio + label {
  margin-left: 0px;
}
