.half {
  max-width: 50%;
  display: inline-block;
  vertical-align: top;
}

div.crm-section.credit_card_exp_date-section,
div.cvv2-section {
  display: inline-block;
  vertical-align: top;
}
div.cvv2-section {
  max-width: 40%;
}
div.crm-section.credit_card_exp_date-section {
  max-width: 55%;
}

div#intro_text {
  padding: 10px;
  padding-top: 6px;
}
body .crm-container .crm-section {
  width: 100%;
}
body .crm-container .crm-section .label {
 float: none;
 width: auto;
 text-align: left;
}

body .crm-container .crm-section .content {
 margin: 0px;
}

\*set height of empty select2*\
.select2-default {
   min-height: 28px;
}

body .crm-container fieldset legend {
  color: #fff;
  background-color: #004B60;
  border-top: 4px solid teal;
  width: 100%;
  font-size: 14px;
  padding: 4px;
  text-shadow: none;
  border: medium none;
}

.crm-section.contribution_amount-section div.label label {
  font-weight: bold;
}

#crm-container.crm-public #premiums-listings {
  min-width: 100%;
}

.crm-container .big,
div.crm-section.email-5-section div.content input,
div.crm-section.credit_card_number-section input {
  width: 97%;
}

.select2-container.big.crm-select2 {
  width: 100% !important;
}


body .crm-container .crm-section .label label {
 font-weight: bold;
}


#crm-container.crm-public input[type="text"].crm-form-text,
.crm-container .big,
div.crm-section.email-5-section div.content input,
div.crm-section.credit_card_number-section input {
  width: 97%;
}

div.select2-container.crm-select2.crm-form-select,
.crm-container div#s2id_state_province-Primary,
.crm-container div#s2id_country-Primary {
 width: 100% !important;
}

#crm-container.crm-public input[type="text"][name="cvv2"].crm-form-text {
 width: 100px;
}


.crm-container .crm-submit-buttons .crm-button {
 background: none;
 border: none;
 text-align: center;
 float: none !important;
}

.crm-container .crm-submit-buttons input.crm-form-submit {
 text-shadow: none;
}

.crm-container span.crm-button {
 float: none !important;
}

.crm-container .crm-submit-buttons .crm-button.crm-i-button input.crm-form-submit {
 padding-left: 0px;
 font-weight: 600;
 font-size: 16px;
 background-color: #004B60;
 color: white;
 padding: 10px 30px;
 text-align: center;
}

.crm-container .crm-submit-buttons .crm-button.crm-i-button input.crm-form-submit:hover {
 background-color: teal;
}
.crm-submit-buttons i.crm-i.fa-check {
 display: none;
}

#crm-container.crm-public .price-set-row input[type="radio"] {
 display: none;
}

#crm-container.crm-public .price-set-row label {
 display: block;
 background-color: #004B60;
 width: 100%;
 padding: 12px 4px;
 border-radius: 3px;
 text-align: center;
 font-weight: bold;
 font-size: 16px;
 color: white;
}

#crm-container.crm-public .price-set-row label:hover {
  background: teal;
}

body #crm-container.crm-public .price-set-row .highlight label {
  background: teal;
}

#crm-container.crm-public .price-set-row .crm-price-amount-label-separator,
body #crm-container.crm-public .price-set-row .crm-price-amount-label,
body #crm-container.crm-public .price-set-row .crm-price-amount-amount,
body #crm-container.crm-public .price-set-row .highlight label,
body #crm-container.crm-public .price-set-row .highlight .crm-price-amount-label,
body #crm-container.crm-public .price-set-row .highlight .crm-price-amount-amount {
 color: #fff;
 display: block;
}
 
#crm-container.crm-public .price-set-row .crm-price-amount-label-separator {
 color : #95C5C5;
}

div.select2-container.crm-select2 a {
 line-height: 35px;
}

div.other_amount-section .label {
 display: none;
}

span.price-set-option-content input[type="text"] {
 display: none;
}

span.price-set-option-content.highlight input[type="text"] {
 display: block;
}

.price-set-row input.crm-form-radio + label {
 margin-left: 0px;
}
@media only screen and (max-width: 1000px) {
 body #crm-container div.half {
  max-width: 100%;
  display: block;
 }
}
