/*css for pages identified on settings page*/

/*floats label above amounts*/
#crm-container .crm-section.featured-boxes>.label {
  float: none;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 24px;
  padding: 15px 15px 0;
  text-align: left;
  width: auto;
}

/*sets up flexbox*/
div.content.contribution_amount-content,
div.content.membership_amount-content {
  max-width: 800px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* You can set flex-wrap and flex-direction individually */
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* Or do it all in one line with flex flow */
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  /* tweak the where items line up on the row */
  /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
  -webkit-align-content: flex-end;
  align-content: flex-end;
  margin-bottom: 25px;
}

#crm-container .crm-section.featured-boxes>.content {
  margin-left: 0;
}

.price-set-row {
  width: 190px;
  height: 150px;
  margin: 3px;
  border: 1px solid #004C57;
  border-radius: 10px;
  text-align: center;
}

#crm-container.crm-public .price-set-row .crm-price-amount-amount {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.7px;
  margin-bottom: 13px;
  margin-top: 13px;
  position: relative;
  line-height: 27px;
  display: block;
  color: #004C57;
}

#priceset .contribution_amount-section .price-set-row .price-set-option-content input.crm-form-radio,
#priceset .membership_amount-section .price-set-row .price-set-option-content input.crm-form-radio {
  display: none;
}

#crm-container.crm-public .price-set-row .box-content .crm-price-amount-label {
  display: block;
  font-weight: normal;
  margin-left: 13px;
  margin-right: 13px;
  /*height: 120px;
  width: 210px;*/
}

.price-set-row:hover {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #CCDBDD 0%, #ffffff 100%) repeat scroll 0 0;
}

.selected-box {
  /*width: 187px;
  height: 147px;*/
  border: 4px solid #004C57;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f9f9f9 0%, #ffffff 100%) repeat scroll 0 0;
}

#crm-container h4 {
  color: #004C57;
}

body .four {
  margin-left: 50px;
  margin-top: 3px;
}
/*line between amount and description*/
.box-content .crm-price-amount-amount::after {
  background:  #D8723C none repeat scroll 0 0;
  bottom: -10px;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -46px;
  position: absolute;
  width: 92px;
}
.selected-box .box-content .crm-price-amount-amount::after {
  background-color:  #D8723C;
}
